body{
    margin: 0 auto;
    padding: 0;
    font-family: poppinsregular;
}

/* Configs do header */
header img{
    width: 200px;
    height: auto;
    padding: 10px 0;
}

.container-header{
    background-color: rgba(237, 111, 34, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.container-header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.container-header nav ul li{
    color: white;
    padding: 0 10px;
    font-family: poppinslight;
    margin: 0;
}

.container-header nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: transform all .5s ease;
    margin: 0;
    padding: 0;
}

.container-header nav ul li a:hover{
    transform: scale(1.1);
}

/* Barra de pesquisa */
.container-header input{
    height: 25px;
    width: 300px;
    border-radius: 15px;
    border: none;
}


/* links de categorias */
.categorias{
    display: flex;
    justify-content: space-around;
}

.categorias ul{
    list-style: none;
    display: flex;
    margin: 0; /* Ajuste a margem */
    padding: 0; /* Ajuste o padding */
}

.categorias ul li{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
}

.categorias ul li a{
    color: rgba(43, 45, 128, 1);
    text-decoration: none;
    padding: 10px 10px;
    transition: all .5s ease;
}

.categorias ul li a:hover{
    background-color: rgb(220, 220, 245);
}
/* FIM das configs do header */


/* Início carrossel slider */

.carousel-wrapper {
    height: 300px;
    position: relative;
    width: 1000px;
    display: block;
    margin: 20px auto ;
    border-left: 2px solid rgb(0, 0, 0, 0.8);
    border-right: 2px solid rgb(0, 0, 0, 0.8);
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../img/18anosBanner.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('../img/vendasBanner.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('../img/assisTexBanner.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
  

/* FIM carrossel slider */