body{
    margin: 0 auto;
    padding: 0;
    font-family: poppinsregular;
}

/* Configs do header */

header img {
  width: 200px;
  height: auto;
  padding: 10px 0;
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0;
  background-color: rgba(237, 111, 34, 1);
}

/* Navegação */
.container-header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-header nav ul li {
  color: white;
  padding: 0 10px;
  font-family: poppinslight;
  margin: 0;
}

.container-header nav ul li a{
  color: white;
  text-decoration: none;
  position: relative; /* Necessário para o pseudo-elemento ::after */
  padding-bottom: 5px; /* Espaço extra para a linha embaixo */
}

.container-header nav ul li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out; /* Animação da linha */
}

header nav ul li a:hover::after{
  width: 100%; /* A linha aparece ao passar o mouse */
}

/* Barra de pesquisa */
.container-header input {
  height: 25px;
  width: 300px;
  border-radius: 15px;
  border: none;
}

/* Categorias */
.categorias {
  display: flex;
  justify-content: space-around;
}

.categorias ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categorias li {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.categorias li a {
  color: rgba(43, 45, 128, 1);
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}

/* Hover nos links da categoria */
.categorias li a:hover,
.categorias li:hover > a {
  background-color: rgb(220, 220, 245);
  color: rgb(2, 3, 73);
  
}

/* Submenu */
.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 99%; /* Coloca o submenu diretamente abaixo do item pai */
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(220, 220, 245);
  white-space: nowrap;
  min-width: 150px;
  transition: opacity 0.5s ease;
}

.submenu li {
  width: 100%;
  margin: 0; /* Remove a margem entre os itens */
  padding: 0; /* Remove o padding entre os itens */
}

.submenu a {
  display: block;
  text-align: left;
  padding: 10px 0; /* Define o padding apenas para cima e para baixo */
  margin: 0; /* Remove margem ao redor dos links */
  white-space: nowrap; /* Evita quebra de linha */
}

/* Exibição do submenu ao passar o mouse */
li:hover > ul.submenu,
.categorias li:hover .submenu {
  opacity: 1; /* Torna o submenu visível */
  visibility: visible; /* Mantém a visibilidade do submenu */
  background-color: rgb(220, 220, 245); /* Cor do submenu */
}

/* FIM das configs do header */







/* Início carrossel slider */

.carousel-wrapper {
    height: 300px;
    position: relative;
    width: 1000px;
    display: block;
    margin: 20px auto ;
    /* border-left: 2px solid rgba(237, 111, 34, 1);
    border-right: 2px solid rgba(237, 111, 34, 1); */
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid rgba(237, 111, 34, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../img/18anosBanner.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('../img/vendasBanner.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('../img/assisTexBanner.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
  

/* FIM carrossel slider */